@use "sass:color";

.nuxt-content {
  h2,
  h3 {
    border-bottom: 1px solid var(--gray);
    margin: 2rem 0 1.3rem;
    padding: 0.6rem 0;
  }

  &-highlight {
    margin-bottom: 2rem;
    position: relative;

    > pre {
      border-radius: $border-radius;
    }

    .filename {
      background-color: color.scale(#263238, $lightness: 10%);
      border-top-left-radius: $border-radius;
      color: var(--light);
      font-size: 90%;
      left: 0;
      padding: 0 0.5rem;
      position: absolute;
      top: 0;
      z-index: 2;

      + pre {
        padding-top: 2rem;
      }
    }

    code {
      font-size: 85%;
    }
  }
}
