.nuxt-content {
  @apply my-5;

  & h2 {
    @apply mt-10 mb-5 pb-1 border-b border-gray-600 text-3xl;
  }

  & ul {
    @apply list-inside list-disc ml-3;
  }

  & ul + p {
    @apply mt-5;
  }

  & ol {
    @apply list-inside list-decimal ml-3;

    & a {
      @apply pl-3;
    }
  }

  & code {
    @apply text-xs md:text-sm;
  }
}

.nuxt-content-highlight {
  @apply relative mb-8 -mt-2;

  & > pre {
    @apply rounded;
  }

  & .filename {
    @apply absolute z-10 px-2 top-0 left-0 rounded-tl text-gray-100 bg-gray-600 text-xs md:text-sm;

    & + pre {
      @apply pt-8;
    }
  }
}
